<!-- <nav *ngIf="authService.isLoggedIn()">
  <a routerLink="/pos">POS System</a> |
  <a routerLink="/table-management">Table Management</a> |
  <a routerLink="/menu-management">Menu Management</a> |
  <a routerLink="/inventory-tracking">Inventory Tracking</a> |
  <a routerLink="/billing-payments">Billing & Payments</a> |
  <a routerLink="/employee-management">Employee Management</a> |
  <a routerLink="/reports-analytics">Reports & Analytics</a> |
  <button (click)="logout()">Logout</button>
</nav> -->

<router-outlet></router-outlet>
